.container .squares {
    display: grid;
    height: 300px;
    width: 300px;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    border: solid 2px black;
}

.container button {
    background-color: white;
    border: solid 2px black;
}